## Deep Neural Network model
*Summary:* We model an IDS with a deep neural network model using feature selection from the PCA analysis.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

train = pd.read_csv("./dataset/UNSW_NB15_training-set.csv")
test = pd.read_csv("./dataset/UNSW_NB15_testing-set.csv")

In [17]:
data = pd.concat([train, test]).reset_index(drop=True)
data = data.drop(columns=["id"], axis=1)

# get numeric column names
num_cols = data._get_numeric_data().columns

# subract numeric columns from all columns to get categorical columns 
cat_cols = list(set(data.columns) - set(num_cols) - {'attack_cat'})

data[cat_cols] = data[cat_cols].astype('category')

# label encoding
# data[cat_cols] = data[cat_cols].apply(lambda x: x.cat.codes)

# from sklearn.preprocessing import OneHotEncoder

# encoder = OneHotEncoder()

# cat_df = pd.DataFrame()
# for cat in cat_cols:
#     X = encoder.fit_transform(data[cat].values.reshape(-1, 1)).toarray()
#     cat_df = pd.concat([pd.DataFrame(X, columns=data[cat].unique()), cat_df]).reset_index(drop=True)

# cat_df.head()

,-,http,ftp,ftp-data,smtp,pop3,dns,snmp,ssl,dhcp,...,FIN,REQ,ACC,CON,RST,CLO,ECO,PAR,URN,no
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# import prince

# data[cat_cols[1]].unique()
# groups = {
#     'state': data['state'].unique(),
#     'service': data['service'].unique(),
#     'proto': data['proto'].unique()
# }

# mfa = prince.MFA()
# mfa = mfa.fit(data[cat_cols], groups=groups)
# mfa

data[cat_cols]

       state proto service
0        INT   udp       -
1        INT   udp       -
2        INT   udp       -
3        INT   udp       -
4        INT   udp       -
...      ...   ...     ...
257668   INT   udp     dns
257669   FIN   tcp       -
257670   INT   udp     dns
257671   INT   udp     dns
257672   INT   udp     dns

[257673 rows x 3 columns]

In [72]:
from sklearn import decomposition
from sklearn.preprocessing import StandardScaler

num_data = data.drop(columns=cat_cols, axis=1)

std_scl = StandardScaler()
num_data = std_scl.fit_transform(num_data)

pca = decomposition.PCA(n_components=0.99)
num_data = pca.fit_transform(num_data)
num_data.shape

(257673, 27)